{% extends "carapp/base.html" %}

{% block title %}Car Details{% endblock %}

{% block content %}
    <h2>Following are the Vehicles in {{ cartype.name }} with Cartype No {{ cartype.id }}:</h2>

    {% if cartype.website_url %}
        <p>Official Website: <a href="{{ cartype.website_url }}" target="_blank">{{ cartype.website_url }}</a></p>
    {% endif %}

    <ul>
        {% for vehicle in vehicles %}
            <li>{{ vehicle.name }}</li>
        {% empty %}
            <li>No vehicles available for this car type.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'carapp:homepage' %}">Back to Home</a>
<!--{% endblock %}-->
<!--{% extends "carapp/base.html" %}-->

<!--{% block title %}About Us{% endblock %}-->

<!--{% block content %}-->
<!--    <h2>About Us</h2>-->
<!--    <p>We provide comprehensive details on various car types and models.</p>-->
<!--    <p> We have a wide range of car options to choose from and links to the car company's website! </p>-->
<!--    <p><a class="back-link" href="{% url 'carapp:homepage' %}">Back to Home</a></p>-->
<!--{% endblock %}-->
